<?xml version="1.0" encoding="utf-8" ?>
<StructureMap MementoStyle="Attribute" DefaultProfile="Connected">
  <DefaultInstance
      PluginType="StructureMap.Testing.Widget.IWidget,StructureMap.Testing.Widget"
      PluggedType="StructureMap.Testing.Widget.ColorWidget,StructureMap.Testing.Widget"
      Scope="Singleton" />
</StructureMap>