<?xml version="1.0"?>
<configuration>
  <scanner>
    <clues>
      <file name=".net configuration" pattern="*.config" />
    </clues>
    <components>
      
    </components>
  </scanner>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
