<?xml version="1.0"?>
<configuration>
  <zed>
    <clues>
      
    </clues>
    <components>
      <component name=".NET Configuration File" />
    </components>
    <deps>
      <add type=""></add>
    </deps>
  </zed>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
